@use './fonts' as *;
@use './mixins' as *;
@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.site-header {
    background-color: $primary-dark;
}

body {
    font-family: "AvenirNext LT Pro", cursive;
  }

  .underline {
    border-bottom: solid 0.2rem $primary-light;
}

.nav {
    padding-top: 0.5rem;
    color: $primary-light;
    @include flex-column;
    @include tablet {
        padding: 0.5rem 1rem 0;
        gap: 4rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    @include desktop {
        margin-left: 5rem;
    }
    &__link {
        text-align: center;
        text-decoration: none;
        color: $primary-light;
    }
    &__header {
        padding-top: 0.5rem;
        width: 7rem;
        @include tablet {
            padding-left: 1rem;
            padding-bottom: 0.5rem;
        }
        @include desktop {
            font-size: 1.6rem;
        }
    }   
    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        @include tablet {
            gap: 2rem;
        }
    }
    &__item {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem 0;
        width: 100%;
        transition: 0.1s linear;
        @include tablet {
            font-size: 0.875rem;
            width: 5rem;
            padding-bottom: 1.5rem;
        }
        &:hover {
            border-bottom: 0.2rem solid $primary-light;
        }
    }

}

.footer {
    font-size: 0.813rem;
    line-height: 1.125rem;
    background: $primary-dark;
    color: $primary-light;
    @include wrapper;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem;
    }
    @include desktop {
        padding:  3rem 7.5rem;
    }
    &__social-container {
        @include tablet {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include desktop {
        }
    }
    &__heading {
        font-size: 1.5rem;
        margin: 1rem 0;
        @include tablet {
            font-size: 2.5rem;
        }
    }
    &__wrap {
        @include tablet {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__info {
        @include desktop {
            margin-right: 7rem;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        gap: 2.5rem;
        @include tablet {
            width: 35%;
            
        }
    }
    &__icon {
        width: 1.5rem;
    }
    &__icon-f {
        width: 0.9rem;
    }
    &__heading-2 {
        margin: 1rem 0;
        @include tablet {
            padding-bottom: 1rem;
        }
    }
    &__text {
        margin: 1rem 0;
        @include tablet {
            padding-bottom: 1rem;
        }
    }
    &__text-2 {
        font-size: 0.813rem;
        margin-top: 1rem;
    }
    &__bandsite {
        display: none;
        @include tablet {
            font-size: 1.5rem;
            display: flex;
        }
        @include desktop {
           
        }
    }
    &__bandsite-2 {
        width: 7rem;
        margin-top: 4rem;
        @include tablet {
            display: none;
        }
    }
}