$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-dark: #323232;
$primary-darkblack: #000000;
$secondary-dark: #000000;
$primary-light: #ffffff;
$secondary-light: #e1e1e1;
$tertiary-light: #fafafa;
$silver: #afafaf;
$error: #D22D2D;