@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.site-header {
  background-color: #323232;
}

body {
  font-family: "AvenirNext LT Pro", cursive;
}

.underline {
  border-bottom: solid 0.2rem #ffffff;
}

.nav {
  padding-top: 0.5rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    padding: 0.5rem 1rem 0;
    gap: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav {
    width: 40%;
    padding: 2rem 2rem 0;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
.nav__header {
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .nav__header {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__header {
    font-size: 1.6rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__list {
    gap: 2rem;
  }
}
.nav__item {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 0;
  width: 100%;
  transition: 0.1s linear;
}
@media (min-width: 768px) {
  .nav__item {
    font-size: 0.875rem;
    width: 5rem;
    padding-bottom: 1.5rem;
  }
}
.nav__item:hover {
  border-bottom: 0.2rem solid #ffffff;
}

.footer {
  font-size: 0.813rem;
  line-height: 1.125rem;
  background: #323232;
  color: #ffffff;
  max-width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 7.5rem;
  }
}
@media (min-width: 768px) {
  .footer__social-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__heading {
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .footer__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__wrap {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    margin-right: 7rem;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .footer__social {
    width: 35%;
  }
}
.footer__icon {
  width: 1.5rem;
}
.footer__icon-f {
  width: 0.9rem;
}
.footer__heading-2 {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__heading-2 {
    padding-bottom: 1rem;
  }
}
.footer__text {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__text {
    padding-bottom: 1rem;
  }
}
.footer__text-2 {
  font-size: 0.813rem;
  margin-top: 1rem;
}
.footer__bandsite {
  display: none;
}
@media (min-width: 768px) {
  .footer__bandsite {
    font-size: 1.5rem;
    display: flex;
  }
}
.footer__bandsite-2 {
  font-size: 1.5rem;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .footer__bandsite-2 {
    display: none;
  }
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}
@media (min-width: 768px) {
  img {
    width: 30%;
  }
}

.underline {
  border-bottom: solid 0.2rem #ffffff;
}

.hero {
  color: #ffffff;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 100vh;
  }
}
.hero__header {
  font-size: 1.5rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .hero__header {
    font-size: 4rem;
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    padding-left: 6rem;
  }
}

@media (min-width: 1280px) {
  .musician {
    margin: 7rem;
  }
}
.musician__header {
  margin: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .musician__header {
    font-size: 2.25rem;
    margin: 2rem;
  }
}
.musician__image-container {
  display: flex;
  justify-content: center;
}
.musician__image {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .musician__image {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.musician__text {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.6rem;
  font-weight: 600;
}
@media (min-width: 1280px) {
  .musician__text {
    font-size: 1rem;
    width: 85%;
  }
}
@media (min-width: 768px) {
  .musician__text-1 {
    font-size: 1.38rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .musician__text-1 {
    font-size: 1.6rem;
  }
}
.musician__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .musician__container {
    margin: 0 6rem;
  }
}

.band {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .band {
    margin: 2rem 6rem;
  }
}
.band__header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .band__header {
    font-size: 1.6rem;
    font-weight: bold;
    width: 40%;
    justify-content: center;
  }
}
.band__text-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .band__text-container {
    flex-direction: row;
    line-height: 2rem;
    gap: 4rem;
    justify-content: space-between;
  }
}
.band__text {
  margin: 0.5rem 0;
  line-height: 1.125rem;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .band__text {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

.photo {
  background: #fafafa;
  max-width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .photo {
    padding: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .photo {
    padding: 3rem 7.5rem;
  }
}
.photo-header {
  padding: 1rem 0;
  font-weight: 600;
}
@media (min-width: 768px) {
  .photo-header {
    font-size: 2.5rem;
  }
}
.photo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .photo-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
}
.photo-container__image {
  filter: grayscale(100%);
  transition: linear 0.1s;
}
.photo-container__image:hover {
  filter: grayscale(0);
}

.conversation__header {
  margin: 2rem 0 1rem;
}
.conversation__avatar {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.conversation__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.conversation__container {
  display: flex;
  gap: 1rem;
}
.conversation__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.conversation__label {
  color: #AFAFAF;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.conversation__name {
  padding: 0.5rem;
  font-family: "AvenirNext LT Pro", cursive;
}
.conversation__box {
  font-family: "AvenirNext LT Pro", cursive;
  padding: 0.5rem;
}

.button {
  color: #ffffff;
  background-color: #323232;
  margin-top: 1rem;
  font-size: 0.95rem;
  border-radius: 4px;
  height: 2.5rem;
  border: none;
}/*# sourceMappingURL=bio.css.map */