@use 'partials/fonts' as *;
@use 'partials/variables' as *;
@use 'partials/mixins' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro", cursive;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h4 {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    width: 100%;
    @include tablet {
        width: 30%;
    }
}

.underline {
    border-bottom: solid 0.2rem $primary-light;
}

.site-header {
    background-color: $primary-dark;
    width: 100%;
}

.nav {
    color: $primary-light;
    &__header {
        padding: 0.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: normal;
        @include desktop {
            font-size: 1.6rem;
        }
    }   
    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
    &__item {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem;
        width: 100%;
    }
    @include tablet {
        padding: 1rem;
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-around;
    }
    @include desktop {
        width: 40%;
        padding: 2rem;
    }
}

.hero {
    color: $primary-light;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    @include tablet {
        height: 80vh;
    }
    @include desktop {
        height: 100vh;
    }
&__header {
    font-size: 2rem;
    padding: 1rem;
    @include tablet {
        font-size: 4rem;
        padding: 2rem;
    }
    @include desktop {
        padding-left: 6rem;
        }
    }
}

.musician {
    @include desktop {
        margin: 7rem;
    }
&__header {
    margin: 3rem 1rem 1rem 3rem;
    font-size: 2.3rem;
    @include tablet {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}
&__image-container {
    display: flex;
    justify-content: center;
}
&__image {
    margin-bottom: 1rem;
    @include tablet {
    width: 100%;
    margin-bottom: 2rem;
    }
}
&__text {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    @include desktop {
        font-size: 1.1rem;
        width: 85%;
    }
}
&__text-1 {
    @include tablet {
        font-size: 1.7rem;
        @include desktop {
            font-size: 1.6rem;
        }
    }
}
&__container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    @include tablet {
        margin: 0 8rem;
    }
}
}

.band {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
        margin: 3rem 8rem;
    } 
    &__header {
        font-weight: 100;
        @include tablet {
            font-size: 2rem;
            font-weight: bold;
            width: 40%;
            justify-content: center;
        }
    }
    &__text-container {
        display: flex;
        flex-direction: column;           
        @include tablet {
            flex-direction: row;
            line-height: 2rem;
            gap: 4rem;
            justify-content: space-between;
        }
    }
    &__text {
        margin: 1rem 0;
        line-height: 1.5rem;
        font-size: 1.1rem;
        @include tablet {
            font-size: 1.2rem;
            line-height: 1.7rem;
        }
    }
}

.photo {
    &-header {
        padding: 1rem 0;
        font-weight: 600;
        @include tablet {
            font-size: 3rem;
        }
    }
    background: $tertiary-light;
    @include wrapper;
    @include tablet {
        padding: 3rem;
    }
    @include desktop {
        padding: 3rem 7.5rem
    }
    &-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
        }
    }
}

.footer {
    line-height: 1rem;
    @include wrapper;
    background: $primary-dark;
    color: $primary-light;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem;
    }
    @include desktop {
        padding:  3rem 7.5rem;
    }
    &__social-container {
        @include tablet {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @include desktop {
        }
    }
    &__heading {
        font-size: 2rem;
        margin: 1rem 0;
        @include tablet {
            font-size: 3rem;
        }
    }
    &__wrap {
        @include tablet {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__info {
        @include desktop {
            margin-right: 7rem;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        gap: 2.5rem;
        @include tablet {
            width: 35%;
            
        }
    }
    &__icon {
        width: 2rem;
    }
    &__icon-f {
        width: 1.2rem;
    }
    &__heading-2 {
        margin: 1rem 0;
        @include tablet {
            padding-bottom: 1rem;
        }
    }
    &__text {
        margin: 2rem 0;
        @include tablet {
            padding-bottom: 1rem;
        }
    }
    &__text-2 {
        margin-top: 2rem;
    }
    &__bandsite {
        display: none;
        @include tablet {
            display: flex;
        }
        @include desktop {
           
        }
    }
    &__bandsite-2 {
        margin-top: 5rem;
        @include tablet {
            display: none;
        }
    }
}