@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.site-header {
  background-color: #323232;
}

body {
  font-family: "AvenirNext LT Pro", cursive;
}

.nav {
  padding-top: 0.5rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    padding: 0.5rem 1rem 0;
    gap: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav {
    margin-left: 5rem;
  }
}
.nav__item--underline {
  border-bottom: solid 0.2rem #ffffff;
}
.nav__link {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.nav__header {
  padding-top: 0.5rem;
  width: 7rem;
}
@media (min-width: 768px) {
  .nav__header {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__header {
    font-size: 1.6rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__list {
    gap: 2rem;
  }
}
.nav__item {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 0;
  width: 100%;
  transition: 0.1s linear;
}
@media (min-width: 768px) {
  .nav__item {
    font-size: 0.875rem;
    width: 5rem;
    padding-bottom: 1.5rem;
  }
}

.footer {
  font-size: 0.813rem;
  line-height: 1.125rem;
  background: #323232;
  color: #ffffff;
  max-width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 8rem;
  }
}
@media (min-width: 768px) {
  .footer__social-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__heading {
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .footer__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__wrap {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    margin-right: 7rem;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .footer__social {
    width: 35%;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    width: 50%;
  }
}
.footer__icon {
  width: 1.5rem;
}
.footer__icon-f {
  width: 0.9rem;
}
.footer__heading-2 {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__heading-2 {
    padding-bottom: 1rem;
  }
}
.footer__text {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__text {
    padding-bottom: 1rem;
  }
}
.footer__text-2 {
  font-size: 0.813rem;
  margin-top: 1rem;
}
.footer__bandsite {
  display: none;
}
@media (min-width: 768px) {
  .footer__bandsite {
    font-size: 1.5rem;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .footer__bandsite {
    margin-right: 1.5rem;
  }
}
.footer__bandsite-2 {
  width: 7rem;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .footer__bandsite-2 {
    display: none;
  }
}

body {
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  body {
    font-size: 0.9rem;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .hero {
    height: 80vh;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 8rem;
  }
}
.hero__text {
  margin: 1rem 0;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 1.5rem;
  }
}
.hero__header {
  width: 55%;
}
@media (min-width: 768px) {
  .hero__header {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    width: 65%;
  }
}
.hero__iframe {
  width: 100%;
}
@media (min-width: 768px) {
  .hero__iframe {
    width: 58%;
    height: 25%;
  }
}
@media (min-width: 1280px) {
  .hero__iframe {
    width: 46%;
  }
}

@media (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
    margin: 3rem 8rem;
  }
}
@media (min-width: 768px) {
  .shows__container {
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__container {
    width: 80%;
    padding: 0;
  }
}
.shows__heading {
  margin: 2rem 1rem 0;
  font-size: 2.25rem;
}
@media (min-width: 1280px) {
  .shows__heading {
    margin: 0;
  }
}
.shows__tablet-heading {
  font-size: 0.65rem;
  color: #afafaf;
  flex: 1;
}
.shows__tablet-display {
  width: 75%;
  padding: 1rem 1rem 0;
  margin-top: 1rem;
  display: none;
}
@media (min-width: 768px) {
  .shows__tablet-display {
    display: flex;
    text-transform: uppercase;
  }
}
.shows__item {
  padding: 1.5rem 1rem;
  border-bottom: solid 1px #e1e1e1;
}
@media (min-width: 768px) {
  .shows__item {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .shows__item {
    padding: 1.5rem 1rem;
  }
}
.shows__item-hover {
  cursor: pointer;
  background-color: #fafafa;
}
.shows__item-selected {
  background-color: #e1e1e1;
}
.shows__sub-heading {
  text-transform: uppercase;
  color: #afafaf;
  font-size: 0.65rem;
  line-height: 1.5rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__sub-heading {
    display: none;
  }
}
.shows__date {
  font-weight: 700;
}
.shows__detail-container {
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .shows__detail-container {
    width: 25%;
  }
}
.shows__location {
  margin-bottom: 0.5rem;
}
.shows__button {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  height: 2.8rem;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1rem;
  text-transform: uppercase;
}
.shows__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .shows__button {
    width: 25%;
  }
}/*# sourceMappingURL=shows.css.map */