@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/font/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.site-header {
  background-color: #323232;
}

body {
  font-family: "AvenirNext LT Pro", cursive;
}

.underline {
  border-bottom: solid 0.2rem #ffffff;
}

.nav {
  padding-top: 0.5rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    padding: 0.5rem 1rem 0;
    gap: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .nav {
    width: 40%;
    padding: 2rem 2rem 0;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
.nav__header {
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .nav__header {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__header {
    font-size: 1.6rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__list {
    gap: 2rem;
  }
}
.nav__item {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 0;
  width: 100%;
  transition: 0.1s linear;
}
@media (min-width: 768px) {
  .nav__item {
    font-size: 0.875rem;
    width: 5rem;
    padding-bottom: 1.5rem;
  }
}
.nav__item:hover {
  border-bottom: 0.2rem solid #ffffff;
}

.footer {
  font-size: 0.813rem;
  line-height: 1.125rem;
  background: #323232;
  color: #ffffff;
  max-width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 7.5rem;
  }
}
@media (min-width: 768px) {
  .footer__social-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__heading {
  font-size: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .footer__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__wrap {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    margin-right: 7rem;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 2.5rem;
}
@media (min-width: 768px) {
  .footer__social {
    width: 35%;
  }
}
.footer__icon {
  width: 1.5rem;
}
.footer__icon-f {
  width: 0.9rem;
}
.footer__heading-2 {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__heading-2 {
    padding-bottom: 1rem;
  }
}
.footer__text {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__text {
    padding-bottom: 1rem;
  }
}
.footer__text-2 {
  font-size: 0.813rem;
  margin-top: 1rem;
}
.footer__bandsite {
  display: none;
}
@media (min-width: 768px) {
  .footer__bandsite {
    font-size: 1.5rem;
    display: flex;
  }
}
.footer__bandsite-2 {
  font-size: 1.5rem;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .footer__bandsite-2 {
    display: none;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=shows.css.map */